.main {
    width: 300px;
    /* height: 500px; */
    background-color: rgb(245, 245, 245);
    /* display: flex; */
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    
}
.calc {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 5px 5px;
 
}
.calc div {
    flex: 1;
    margin: 3px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    border-radius: 50%;
    box-shadow: 4px 4px 10px 0px rgb(80, 80, 250);
    
}
